<a href="https://colab.research.google.com/github/Rakib-Ul-Haque/Crime_and_market_data_analysis/blob/main/coding_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

Thank you for applying to Double River! This is a coding assessment you can use to showcase your programming skills. We expect you to have this completed and submitted by the night of Saturday July 17th (any time zone).

This coding assessment has 2 parts. It is very open-ended, and there is not a single correct response. There are many possible approaches; choose one or two rather than attacking the problem every possible way. We do not expect you to take more than 3-4 hours at maximum. You will be assessed on your creativity and the clarity with which you explain the steps you take. Please document your data exploration and modeling process. We expect you to use Python. Feel free to use any open source packages you desire.

Your submission should consist of a zipped directory named lastname_firstname.zip (with your own last name and first name substituted) containing 
1. coding_exercise.ipynb, containing your code and relevant figures. Feel free to just modify this file you are reading
2. crime_pred.csv, containing your predictions for Part 1
3. market1_pred.csv, containing half your predictions for Part 2
4. market2_pred.csv, containing the other half of your predictions for Part 2
5. Any other relevant scripts you wrote to solve the problem

The required format for 2-4 will be explained below.

To submit, email your zipped folder to robertwagner@doubleriver.com and taylorsorensen@doubleriver.com by the night of Saturday July 17th (any time zone). If you need an extension, please let us know. If you have any questions, please reach out to us. Good luck!

# Part 1

crime_2020.csv and crime_2021.csv contain real data on crime in Boston. Predict the number of vandalism incidents and the number of verbal disputes (OFFENSE_DESCRIPTION=="VANDALISM" or OFFENSE_DESCRIPTION=="VERBAL DISPUTE") for each day from July 9, 2021 to December 31, 2021. Save your predictions to a csv named crime_pred.csv, with the following format:

| Date | VANDALISM | VERBAL DISPUTE |
| --- | --- | --- |
| 2021-07-09 | prediction | prediction |
| --- | --- | --- |

Obviously, we can't assess your actual prediction accuracy. We will focus on your modeling decisions.

In [30]:
import pandas as pd
crime_2020 = pd.read_csv("crime_2020.csv")
crime_2020 = crime_2020[(crime_2020['OFFENSE_DESCRIPTION']=="VANDALISM") | (crime_2020['OFFENSE_DESCRIPTION']=="VERBAL DISPUTE")]
crime_2020.reset_index(drop=True, inplace=True)
crime_2020.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

  INCIDENT_NUMBER  ...                               Location
0       212021101  ...  (42.2975553295965, -71.0597091024257)
1       202079121  ...  (42.2926731782789, -71.1232931129253)
2       212009193  ...  (42.3258765848214, -71.0702494665461)
3       202071175  ...  (42.3708180467024, -71.0392907813515)
4       212006647  ...  (42.2971045178923, -71.0880773111089)

[5 rows x 17 columns]

In [31]:
crime_2020_u= crime_2020[["OFFENSE_DESCRIPTION","OCCURRED_ON_DATE"]]
crime_2020_u.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4771 entries, 0 to 4770
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   OFFENSE_DESCRIPTION  4771 non-null   object
 1   OCCURRED_ON_DATE     4771 non-null   object
dtypes: object(2)
memory usage: 74.7+ KB

In [32]:
from datetime import datetime
crime_2020_u["OCCURRED_ON_DATE"]=pd.to_datetime(crime_2020_u["OCCURRED_ON_DATE"])
crime_2020_u.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4771 entries, 0 to 4770
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   OFFENSE_DESCRIPTION  4771 non-null   object
 1   OCCURRED_ON_DATE     4771 non-null   datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 74.7+ KB

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [33]:
crime_2020_u

     OFFENSE_DESCRIPTION    OCCURRED_ON_DATE
0              VANDALISM 2020-10-05 00:00:00
1              VANDALISM 2020-10-26 13:45:00
2              VANDALISM 2020-12-20 00:00:00
3              VANDALISM 2020-09-28 17:45:00
4              VANDALISM 2020-12-31 10:00:00
...                  ...                 ...
4766           VANDALISM 2020-08-27 18:01:00
4767      VERBAL DISPUTE 2020-07-16 22:52:00
4768           VANDALISM 2020-04-02 04:00:00
4769           VANDALISM 2020-03-20 16:30:00
4770           VANDALISM 2020-03-12 19:24:00

[4771 rows x 2 columns]

In [34]:
crime_2021 = pd.read_csv("crime_2021.csv")
crime_2021 = crime_2021[(crime_2021['OFFENSE_DESCRIPTION']=="VANDALISM") | (crime_2021['OFFENSE_DESCRIPTION']=="VERBAL DISPUTE")]
crime_2021.reset_index(drop=True, inplace=True)
crime_2021.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

  INCIDENT_NUMBER  ...                               Location
0       212996778  ...  (42.3441248392933, -71.0568533916328)
1       212046473  ...  (42.2962066695049, -71.0548785223855)
2       212046455  ...  (42.3508268662159, -71.0434175813107)
3       212046420  ...  (42.3453940583975, -71.0738024655648)
4       212046396  ...  (42.3198707618137, -71.0709626304778)

[5 rows x 17 columns]

In [35]:
crime_2021_u= crime_2021[["OFFENSE_DESCRIPTION","OCCURRED_ON_DATE"]]
crime_2021_u.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2467 entries, 0 to 2466
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   OFFENSE_DESCRIPTION  2467 non-null   object
 1   OCCURRED_ON_DATE     2467 non-null   object
dtypes: object(2)
memory usage: 38.7+ KB

In [36]:
crime_2021_u["OCCURRED_ON_DATE"]=pd.to_datetime(crime_2021_u["OCCURRED_ON_DATE"])
crime_2021_u.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2467 entries, 0 to 2466
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   OFFENSE_DESCRIPTION  2467 non-null   object
 1   OCCURRED_ON_DATE     2467 non-null   datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 38.7+ KB

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [37]:
crime_2021_u

     OFFENSE_DESCRIPTION    OCCURRED_ON_DATE
0         VERBAL DISPUTE 2021-02-01 06:20:00
1         VERBAL DISPUTE 2021-07-07 23:53:00
2         VERBAL DISPUTE 2021-07-07 21:44:00
3              VANDALISM 2021-07-07 02:41:00
4         VERBAL DISPUTE 2021-07-07 17:38:00
...                  ...                 ...
2462           VANDALISM 2021-01-01 03:25:00
2463           VANDALISM 2021-06-16 23:29:00
2464           VANDALISM 2021-02-12 20:23:00
2465           VANDALISM 2021-01-26 16:28:00
2466      VERBAL DISPUTE 2021-01-11 17:54:00

[2467 rows x 2 columns]

In [38]:
full_data = pd.concat([crime_2020_u, crime_2021_u])
full_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7238 entries, 0 to 2466
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   OFFENSE_DESCRIPTION  7238 non-null   object
 1   OCCURRED_ON_DATE     7238 non-null   datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 169.6+ KB

In [39]:
full_data

     OFFENSE_DESCRIPTION    OCCURRED_ON_DATE
0              VANDALISM 2020-10-05 00:00:00
1              VANDALISM 2020-10-26 13:45:00
2              VANDALISM 2020-12-20 00:00:00
3              VANDALISM 2020-09-28 17:45:00
4              VANDALISM 2020-12-31 10:00:00
...                  ...                 ...
2462           VANDALISM 2021-01-01 03:25:00
2463           VANDALISM 2021-06-16 23:29:00
2464           VANDALISM 2021-02-12 20:23:00
2465           VANDALISM 2021-01-26 16:28:00
2466      VERBAL DISPUTE 2021-01-11 17:54:00

[7238 rows x 2 columns]

# Part 2

market1_train.csv contains time series observations for 100 different entities ID0, ID1, ..., ID99. market2_train.csv is similar. You will find that there is some correlation across entities within a market and that the two markets are independent of each other.

For each entity in each market, predict the value of the time series for the next 20 time periods (2021-07-10 through 2021-07-29). Save your predictions for the first dataset in a csv file named market1_pred.csv with the same format as market1_train.csv (and similarly for predictions on the second dataset).

When assessing your submission, we will note the accuracy of your predictions, but mostly we will focus on whether you made an effort to validate your model's performance using a hold-out test set. Be sure to pursue a validation strategy that respects the time series nature of the data.

In [ ]:
import pandas as pd

market1 = pd.read_csv('./market1_train.csv', index_col=0)
market1.tail()

,ID0,ID1,ID2,ID3,ID4,ID5,ID6,ID7,ID8,ID9,...,ID90,ID91,ID92,ID93,ID94,ID95,ID96,ID97,ID98,ID99
2021-07-05,3.583375,3.226964,2.346920,2.558637,1.538760,4.594758,2.146608,-0.386454,5.025999,1.725205,...,3.297692,2.530733,1.443641,4.868712,3.445038,1.935061,0.067948,1.430985,3.682066,0.823618
2021-07-06,3.517965,3.204598,2.314079,2.632919,1.536916,4.571775,2.141673,-0.399738,5.018209,1.698755,...,3.342837,2.570519,1.493459,4.806316,3.450563,1.944582,-0.008034,1.443509,3.673936,0.804096
2021-07-07,3.424292,3.158055,2.323530,2.712472,1.518457,4.564601,2.174367,-0.457701,5.016744,1.687332,...,3.379711,2.629063,1.500382,4.703795,3.465800,1.951739,-0.034730,1.416805,3.708597,0.828704
2021-07-08,3.324116,3.132059,2.357117,2.717007,1.528890,4.605934,2.233432,-0.539993,4.998563,1.730982,...,3.422676,2.690800,1.523709,4.635425,3.529254,1.946570,-0.040312,1.407013,3.733810,0.825763
2021-07-09,3.280630,3.125787,2.358661,2.714038,1.534618,4.644007,2.255994,-0.570467,4.947899,1.801011,...,3.486283,2.700701,1.530790,4.637559,3.600928,1.973549,-0.028652,1.409580,3.713170,0.797180